Django==3.2.5
django-celery-beat==2.2.1
django-timezone-field==4.2.1
djangorestframework==3.12.4
future==0.18.2
httplib2==0.14.0
kombu==5.1.0
Pillow==7.0.0
python-crontab==2.5.1
python-dateutil==2.7.3
python-docx==0.8.11
redis==3.5.3
reportlab==3.5.34
requests==2.22.0
simplejson==3.16.0
six==1.14.0
sqlparse==0.4.1
urllib3==1.25.8
vine==5.0.0
virtualenv==20.0.17
